@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    padding: 10px;
}
input , textarea,h1, button{
    font-family: 'Poppins', sans-serif;
    font-size: medium;
}
